.u-section-1 .u-sheet-1 {
  min-height: 144px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  width: 866px;
  margin: 39px auto;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 545px;
}

.u-section-2 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}.u-section-3 .u-sheet-1 {
  min-height: 1567px;
}

.u-section-3 .u-gallery-1 {
  width: 689px;
  height: 1520px;
  grid-gap: 10px 10px;
  margin: 28px auto 20px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-8 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-3 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-5 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-6 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-7 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-8 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-carousel-thumbnail-1 {
    width: 77px;
    height: 77px;
  }

  .u-section-3 .u-carousel-thumbnail-2 {
    width: 77px;
    height: 77px;
  }

  .u-section-3 .u-carousel-thumbnail-3 {
    width: 77px;
    height: 77px;
  }

  .u-section-3 .u-carousel-thumbnail-4 {
    width: 77px;
    height: 77px;
  }

  .u-section-3 .u-carousel-thumbnail-5 {
    width: 77px;
    height: 77px;
  }

  .u-section-3 .u-carousel-thumbnail-6 {
    width: 77px;
    height: 77px;
  }

  .u-section-3 .u-carousel-thumbnail-7 {
    width: 77px;
    height: 77px;
  }

  .u-section-3 .u-carousel-thumbnail-8 {
    width: 77px;
    height: 77px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-gallery-1 {
    width: 540px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 59px;
    height: 59px;
  }

  .u-section-3 .u-carousel-thumbnail-2 {
    width: 59px;
    height: 59px;
  }

  .u-section-3 .u-carousel-thumbnail-3 {
    width: 59px;
    height: 59px;
  }

  .u-section-3 .u-carousel-thumbnail-4 {
    width: 59px;
    height: 59px;
  }

  .u-section-3 .u-carousel-thumbnail-5 {
    width: 59px;
    height: 59px;
  }

  .u-section-3 .u-carousel-thumbnail-6 {
    width: 59px;
    height: 59px;
  }

  .u-section-3 .u-carousel-thumbnail-7 {
    width: 59px;
    height: 59px;
  }

  .u-section-3 .u-carousel-thumbnail-8 {
    width: 59px;
    height: 59px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 34px;
    height: 34px;
  }

  .u-section-3 .u-carousel-thumbnail-2 {
    width: 34px;
    height: 34px;
  }

  .u-section-3 .u-carousel-thumbnail-3 {
    width: 34px;
    height: 34px;
  }

  .u-section-3 .u-carousel-thumbnail-4 {
    width: 34px;
    height: 34px;
  }

  .u-section-3 .u-carousel-thumbnail-5 {
    width: 34px;
    height: 34px;
  }

  .u-section-3 .u-carousel-thumbnail-6 {
    width: 34px;
    height: 34px;
  }

  .u-section-3 .u-carousel-thumbnail-7 {
    width: 34px;
    height: 34px;
  }

  .u-section-3 .u-carousel-thumbnail-8 {
    width: 34px;
    height: 34px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 456px;
}

.u-section-4 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 60px;
}.u-section-5 .u-sheet-1 {
  min-height: 1583px;
}

.u-section-5 .u-image-1 {
  width: 570px;
  height: 569px;
  margin: 20px auto 0 0;
}

.u-section-5 .u-image-2 {
  width: 570px;
  height: 270px;
  margin: -569px -20px 0 auto;
}

.u-section-5 .u-image-3 {
  width: 570px;
  height: 270px;
  margin: 28px -20px 0 auto;
}

.u-section-5 .u-text-1 {
  margin: 169px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1483px;
  }

  .u-section-5 .u-image-1 {
    width: 470px;
    height: 469px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -469px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1373px;
  }

  .u-section-5 .u-image-1 {
    width: 360px;
    height: 359px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -359px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1255px;
  }

  .u-section-5 .u-image-1 {
    width: 270px;
    height: 269px;
  }

  .u-section-5 .u-image-2 {
    width: 540px;
    height: 256px;
    margin-top: -269px;
    margin-right: 0;
  }

  .u-section-5 .u-image-3 {
    width: 540px;
    height: 256px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 965px;
  }

  .u-section-5 .u-image-1 {
    width: 170px;
    height: 169px;
  }

  .u-section-5 .u-image-2 {
    width: 340px;
    height: 161px;
    margin-top: -169px;
  }

  .u-section-5 .u-image-3 {
    width: 340px;
    height: 161px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 675px;
}

.u-section-6 .u-gallery-1 {
  width: 700px;
  height: 926px;
  margin: 152px auto 25px;
}

.u-section-6 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-thumbnails-1 {
  padding-left: 10px;
}

.u-section-6 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-6 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-6 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-6 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-6 .u-carousel-control-1 {
  position: absolute;
  left: 13px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-6 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 120px;
}

@media (max-width: 767px) {
  .u-section-6 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-carousel-thumbnail-1 {
    width: 78px;
    height: 78px;
  }

  .u-section-6 .u-carousel-thumbnail-2 {
    width: 78px;
    height: 78px;
  }

  .u-section-6 .u-carousel-thumbnail-3 {
    width: 78px;
    height: 78px;
  }

  .u-section-6 .u-carousel-thumbnail-4 {
    width: 78px;
    height: 78px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 456px;
}

.u-section-7 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-7 .u-text-2 {
  margin: 20px 0 60px;
}.u-section-8 .u-sheet-1 {
  min-height: 456px;
}

.u-section-8 .u-image-1 {
  width: 420px;
  height: 530px;
  margin: 20px auto 0;
}

.u-section-8 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-8 .u-text-2 {
  margin: 20px 0 60px;
}

@media (max-width: 575px) {
  .u-section-8 .u-image-1 {
    width: 340px;
    height: 429px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 473px;
}

.u-section-9 .u-gallery-1 {
  height: 423px;
  margin-top: 20px;
  margin-bottom: 30px;
  grid-gap: 17px 17px;
}

.u-section-9 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 17px 17px;
}

.u-section-9 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-9 .u-gallery-1 {
    height: 348px;
  }

  .u-section-9 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-9 .u-gallery-1 {
    height: 1103px;
  }

  .u-section-9 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 2093px;
  }

  .u-section-9 .u-gallery-1 {
    height: 832px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1418px;
  }

  .u-section-9 .u-gallery-1 {
    height: 530px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 4090px;
}

.u-section-10 .u-text-1 {
  margin: 63px 0 0;
}

.u-section-10 .u-text-2 {
  margin: -2773px -41px 0 41px;
}

.u-section-10 .u-image-1 {
  width: 338px;
  height: 450px;
  margin: 41px 136px 0 auto;
}

.u-section-10 .u-image-2 {
  width: 570px;
  height: 428px;
  margin: -439px auto 0 -20px;
}

.u-section-10 .u-image-3 {
  width: 529px;
  height: 270px;
  margin: 40px auto 0 570px;
}

.u-section-10 .u-image-4 {
  width: 570px;
  height: 270px;
  margin: -270px auto 0 -20px;
}

.u-section-10 .u-image-5 {
  width: 380px;
  height: 709px;
  margin: 304px auto 0 367px;
}

.u-section-10 .u-image-6 {
  width: 441px;
  height: 418px;
  margin: 317px auto 0 60px;
}

.u-section-10 .u-image-7 {
  width: 550px;
  height: 413px;
  margin: -413px 48px 0 auto;
}

.u-section-10 .u-image-8 {
  width: 570px;
  height: 301px;
  margin: 238px auto 0 20px;
}

.u-section-10 .u-image-9 {
  width: 530px;
  height: 301px;
  margin: -301px 0 0 auto;
}

.u-section-10 .u-image-10 {
  width: 570px;
  height: 270px;
  margin: 70px auto 20px 258px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-image-3 {
    margin-left: 411px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-image-3 {
    margin-left: 191px;
  }

  .u-section-10 .u-image-5 {
    margin-left: 340px;
  }

  .u-section-10 .u-image-10 {
    margin-left: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 4015px;
  }

  .u-section-10 .u-image-2 {
    width: 540px;
    height: 405px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-image-3 {
    margin-top: 41px;
    margin-right: 0;
    margin-left: 11px;
  }

  .u-section-10 .u-image-4 {
    width: 540px;
    height: 256px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-image-5 {
    margin-left: 160px;
  }

  .u-section-10 .u-image-7 {
    width: 540px;
    height: 405px;
    margin-right: 0;
  }

  .u-section-10 .u-image-8 {
    width: 540px;
    height: 285px;
    margin-left: 0;
  }

  .u-section-10 .u-image-9 {
    margin-top: -285px;
  }

  .u-section-10 .u-image-10 {
    width: 540px;
    height: 256px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 3044px;
  }

  .u-section-10 .u-image-1 {
    margin-right: 2px;
  }

  .u-section-10 .u-image-2 {
    width: 340px;
    height: 255px;
  }

  .u-section-10 .u-image-3 {
    width: 340px;
    height: 174px;
    margin-left: 0;
  }

  .u-section-10 .u-image-4 {
    width: 340px;
    height: 161px;
    margin-top: -174px;
  }

  .u-section-10 .u-image-5 {
    width: 340px;
    height: 634px;
    margin-left: 0;
  }

  .u-section-10 .u-image-6 {
    width: 340px;
    height: 322px;
    margin-left: 0;
  }

  .u-section-10 .u-image-7 {
    width: 340px;
    height: 255px;
    margin-top: -317px;
  }

  .u-section-10 .u-image-8 {
    width: 340px;
    height: 179px;
  }

  .u-section-10 .u-image-9 {
    width: 340px;
    height: 193px;
    margin-top: -179px;
  }

  .u-section-10 .u-image-10 {
    width: 340px;
    height: 161px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 725px;
}

.u-section-11 .u-text-1 {
  margin: 19px 0 0;
}

.u-section-11 .u-text-2 {
  margin: 21px 0 0;
}

.u-section-11 .u-image-1 {
  width: 342px;
  height: 500px;
  margin: 30px auto 60px;
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 722px;
  }

  .u-section-11 .u-image-1 {
    width: 340px;
    height: 497px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 2055px;
}

.u-section-12 .u-text-1 {
  margin: 19px 0 0;
}

.u-section-12 .u-text-2 {
  margin: 21px 0 0;
}

.u-section-12 .u-image-1 {
  width: 808px;
  height: 361px;
  margin: 0 auto 0 138px;
}

.u-section-12 .u-image-2 {
  width: 376px;
  height: 545px;
  margin: 51px 194px 0 auto;
}

.u-section-12 .u-image-3 {
  width: 342px;
  height: 569px;
  margin: -557px auto 0 158px;
}

.u-section-12 .u-gallery-1 {
  height: 674px;
  width: 1140px;
  margin: 110px auto 21px -30px;
}

.u-section-12 .u-gallery-inner-1 {
  grid-gap: 81px 81px;
  grid-template-columns: auto auto;
}

.u-section-12 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-12 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-12 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-12 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 1937px;
  }

  .u-section-12 .u-image-1 {
    margin-top: 1610px;
    margin-left: 132px;
  }

  .u-section-12 .u-image-2 {
    margin-top: -1508px;
  }

  .u-section-12 .u-image-3 {
    margin-top: 60px;
  }

  .u-section-12 .u-gallery-1 {
    height: 556px;
    width: 940px;
    margin-left: 0;
  }

  .u-section-12 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 3045px;
  }

  .u-section-12 .u-image-1 {
    width: 720px;
    height: 322px;
    margin-top: 2757px;
    margin-left: 0;
  }

  .u-section-12 .u-image-2 {
    margin-top: -2655px;
  }

  .u-section-12 .u-gallery-1 {
    height: 1703px;
    width: 720px;
  }

  .u-section-12 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 4087px;
  }

  .u-section-12 .u-image-1 {
    width: 540px;
    height: 242px;
    margin-top: 2331px;
  }

  .u-section-12 .u-image-2 {
    margin-top: -2212px;
    margin-right: 164px;
  }

  .u-section-12 .u-gallery-1 {
    height: 1277px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 3147px;
  }

  .u-section-12 .u-image-1 {
    width: 340px;
    height: 152px;
    margin-top: 1858px;
  }

  .u-section-12 .u-image-2 {
    width: 340px;
    height: 493px;
    margin-top: -1626px;
    margin-right: 0;
  }

  .u-section-12 .u-image-3 {
    width: 340px;
    height: 566px;
    margin-left: 0;
  }

  .u-section-12 .u-gallery-1 {
    height: 804px;
    width: 340px;
  }
}