 .u-section-1 {
  background-image: url("images/tabaccara-da-isola-conigli.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 1900px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -440px -66px 0 796px;
}

.u-section-1 .u-image-1 {
  height: 769px;
  width: 769px;
  background-image: url("images/g6a402ef964d4589925372d1d3263bb34be61fb926b77e97bf9225a9602c8b9841c09f159b67d0d951bf7109f17accdc1_1280.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  filter: brightness(0.8);
  margin: 424px -75px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: -633px -92px 0 743px;
}

.u-section-1 .u-text-3 {
  font-size: 6rem;
  margin: 535px auto 0 76px;
}

.u-section-1 .u-group-1 {
  width: 1005px;
  min-height: 538px;
  transition-duration: 0.5s;
  height: auto;
  background-image: none;
  margin: 62px auto 60px 43px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  transition-duration: 0.5s;
  text-shadow: 2px 0 0 rgba(0,0,0,0);
  font-size: 1.25rem;
  transform: scale(1.04) translateX(0px) translateY(0px);
  background-image: none;
  margin: 28px 50px 0;
}

.u-section-1 .u-image-2 {
  width: 107px;
  height: 111px;
  margin: -241px auto 130px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1567px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 108px;
    margin-left: 656px;
  }

  .u-section-1 .u-text-2 {
    width: 486px;
    margin-right: 82px;
    margin-left: 613px;
  }

  .u-section-1 .u-text-3 {
    width: 938px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-text-4 {
    margin-left: 17px;
    margin-right: 17px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1200px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 218px;
    margin-left: 712px;
  }

  .u-section-1 .u-image-1 {
    height: 688px;
    width: 688px;
    margin-top: 614px;
    margin-right: 210px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -493px;
    margin-right: 192px;
    margin-left: 412px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 123px;
    margin-left: 286px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    margin-bottom: 0;
    margin-left: 210px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 308px;
    margin-left: 677px;
  }

  .u-section-1 .u-image-1 {
    height: 540px;
    width: 540px;
    margin-right: auto;
    margin-left: 300px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -249px;
    margin-right: 282px;
    margin-left: 322px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 94px;
    margin-left: 376px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: 300px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 408px;
    margin-left: 637px;
  }

  .u-section-1 .u-image-1 {
    height: 340px;
    width: 340px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin-top: -225px;
    margin-right: 382px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
    margin-top: 214px;
    margin-left: 476px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: 39px;
    margin-left: 400px;
  }
}

.u-section-1 .u-group-1,
.u-section-1 .u-group-1:before,
.u-section-1 .u-group-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-4,
.u-section-1 .u-text-4:before,
.u-section-1 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-4.u-text-4.u-text-4:hover {
  transform: scale(1.04) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-4.u-text-4.u-text-4.hover {
  transform: scale(1.04) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: url("images/tabaccara-da-isola-conigli.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 1493px;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  width: 681px;
  font-family: Oswald, sans-serif;
  text-transform: none;
  margin: 70px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 3.75rem;
  font-weight: normal;
  margin: 34px -29px 0;
}

.u-section-2 .u-line-1 {
  width: 849px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 24px auto 0;
}

.u-section-2 .u-gallery-1 {
  height: 1109px;
  margin-top: 35px;
  margin-bottom: 0;
  grid-gap: 17px 17px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-2 .u-gallery-item-1 {
  --effect-scale: 1.75;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(185,193,204,0.15), rgba(185,193,204,0.15));
  padding: 20px;
}

.u-section-2 .u-gallery-item-2 {
  --effect-scale: 1.75;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(185,193,204,0.15), rgba(185,193,204,0.15));
  padding: 20px;
}

.u-section-2 .u-gallery-item-3 {
  --effect-scale: 1.75;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(185,193,204,0.15), rgba(185,193,204,0.15));
  padding: 20px;
}

.u-section-2 .u-gallery-item-4 {
  --effect-scale: 1.75;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(185,193,204,0.15), rgba(185,193,204,0.15));
  padding: 20px;
}

.u-section-2 .u-gallery-item-5 {
  --effect-scale: 1.75;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(185,193,204,0.15), rgba(185,193,204,0.15));
  padding: 20px;
}

.u-section-2 .u-gallery-item-6 {
  --effect-scale: 1.75;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(185,193,204,0.15), rgba(185,193,204,0.15));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 1430px;
  }

  .u-section-2 .u-text-2 {
    width: 623px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-gallery-1 {
    height: 912px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2279px;
  }

  .u-section-2 .u-line-1 {
    width: 720px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1597px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 5300px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-line-1 {
    width: 540px;
  }

  .u-section-2 .u-gallery-1 {
    height: 4887px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3523px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }

  .u-section-2 .u-gallery-1 {
    height: 3108px;
  }
} .u-section-3 {
  background-image: url("images/tabaccara-da-isola-conigli.jpg");
}

.u-section-3 .u-sheet-1 {
  min-height: 1498px;
}

.u-section-3 .u-image-1 {
  width: 752px;
  height: 752px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/tuttaNoto.jpg");
  background-position: 50% 50%;
  margin: 418px 179px 0 auto;
}

.u-section-3 .u-group-1 {
  min-height: 269px;
  width: 347px;
  background-image: none;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -720px -101px 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 60px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 47px 0 0;
}

.u-section-3 .u-btn-1 {
  letter-spacing: 3px;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  margin: 19px auto 0;
  padding: 18px 55px 18px 54px;
}

.u-section-3 .u-group-2 {
  min-height: 252px;
  width: 344px;
  background-image: none;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -234px auto 0 -62px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 60px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 25px 15px 0;
}

.u-section-3 .u-btn-2 {
  letter-spacing: 3px;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  margin: 23px auto 0;
  padding: 18px 55px 18px 54px;
}

.u-section-3 .u-group-3 {
  min-height: 262px;
  width: 321px;
  background-image: none;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -556px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 60px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 29px 0 0;
}

.u-section-3 .u-btn-3 {
  letter-spacing: 3px;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  margin: 23px auto 0;
  padding: 18px 55px 18px 54px;
}

.u-section-3 .u-group-4 {
  min-height: 286px;
  width: 362px;
  background-image: none;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 486px auto 0 119px;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 59px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 19px 1px 0;
}

.u-section-3 .u-btn-4 {
  letter-spacing: 3px;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  margin: 19px auto 0;
  padding: 18px 55px 18px 54px;
}

.u-section-3 .u-group-5 {
  min-height: 278px;
  width: 370px;
  background-image: none;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -278px 47px 60px auto;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 60px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 43px 0 0;
}

.u-section-3 .u-btn-5 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  margin: 19px auto 0;
  padding: 18px 55px 18px 54px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 1235px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-group-3 {
    height: auto;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-group-4 {
    height: auto;
  }

  .u-section-3 .u-group-5 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 914px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 720px;
    margin-right: 0;
  }

  .u-section-3 .u-group-1 {
    margin-top: -688px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 734px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -508px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-right: auto;
    margin-left: 400px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -308px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.125rem;
  }

  .u-section-3 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.125rem;
  }

  .u-section-3 .u-group-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-3 {
    font-size: 2.125rem;
  }

  .u-section-3 .u-group-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-4 {
    font-size: 2.125rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-group-5 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-5 {
    font-size: 2.125rem;
  }
}