.u-section-1 .u-sheet-1 {
  min-height: 144px;
}

.u-section-1 .u-text-1 {
  margin-bottom: -296px;
  margin-right: auto;
  margin-left: auto;
  font-size: 3rem;
}.u-section-2 .u-sheet-1 {
  min-height: 244px;
}

.u-section-2 .u-text-1 {
  margin: 50px 0;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 475px;
}

.u-section-3 .u-gallery-1 {
  height: 375px;
  margin: 50px auto 15px;
}

.u-section-3 .u-gallery-item-1 {
  margin-right: 7px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-2 {
  margin-right: 7px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 629px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 59px auto 41px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 529px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-image-1 {
  min-height: 529px;
  background-image: url("images/5.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 436px;
  }

  .u-section-4 .u-image-1 {
    min-height: 436px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 434px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    min-height: 334px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 596px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    min-height: 396px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 449px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    min-height: 249px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 475px;
}

.u-section-5 .u-gallery-1 {
  height: 375px;
  margin: 50px auto 15px;
}

.u-section-5 .u-gallery-item-1 {
  margin-right: 7px;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-2 {
  margin-right: 7px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-5 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 740px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 70px 0;
}

.u-section-6 .u-image-1 {
  min-height: 600px;
  background-image: url("images/21.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-6 .u-image-2 {
  min-height: 300px;
  background-image: url("images/22.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 300px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-6 .u-text-1 {
  margin: 19px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1324px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1024px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: auto;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 244px;
}

.u-section-7 .u-text-1 {
  margin: 50px 0;
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 720px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 80px 0 40px auto;
}

.u-section-8 .u-image-1 {
  min-height: 400px;
  background-image: url("images/E.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 200px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-8 .u-text-1 {
  margin: 19px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-1 {
    min-height: 300px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 300px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1324px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1024px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: auto;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 475px;
}

.u-section-9 .u-gallery-1 {
  height: 375px;
  margin: 50px auto 15px;
}

.u-section-9 .u-gallery-inner-1 {
  grid-template-columns: auto;
}

.u-section-9 .u-gallery-item-1 {
  margin-right: 0;
}

.u-section-9 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-9 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-gallery-inner-1 {
    grid-gap: 0px 0px;
  }

  .u-section-9 .u-over-slide-1 {
    min-height: 100px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 740px;
}

.u-section-10 .u-layout-wrap-1 {
  margin: 70px 0;
}

.u-section-10 .u-image-1 {
  min-height: 600px;
  background-image: url("images/scavi6.jpg");
  background-position: 50% 50%;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-10 .u-image-2 {
  min-height: 300px;
  background-image: url("images/10.jpg");
  background-position: 50% 50%;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-10 .u-layout-cell-3 {
  min-height: 300px;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-10 .u-text-1 {
  margin: 19px 0 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1324px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1024px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: auto;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 475px;
}

.u-section-11 .u-gallery-1 {
  height: 375px;
  margin: 50px auto 15px;
}

.u-section-11 .u-gallery-inner-1 {
  grid-template-columns: auto;
}

.u-section-11 .u-gallery-item-1 {
  margin-right: 0;
}

.u-section-11 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-11 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-gallery-inner-1 {
    grid-gap: 0px 0px;
  }

  .u-section-11 .u-over-slide-1 {
    min-height: 100px;
  }
} .u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 147px;
}

.u-section-12 .u-text-1 {
  margin: 50px 0;
} .u-section-13 {
  background-image: none;
}

.u-section-13 .u-sheet-1 {
  min-height: 752px;
}

.u-section-13 .u-layout-wrap-1 {
  margin: 50px 0;
}

.u-section-13 .u-image-1 {
  min-height: 608px;
  background-image: url("images/F.jpg");
  background-position: 50% 50%;
}

.u-section-13 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-13 .u-image-2 {
  min-height: 304px;
  background-image: url("images/G1.jpg");
  background-position: 50% 50%;
}

.u-section-13 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-13 .u-layout-cell-3 {
  min-height: 304px;
}

.u-section-13 .u-container-layout-3 {
  padding: 30px 8px 30px 6px;
}

.u-section-13 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-13 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-13 .u-image-1 {
    min-height: 600px;
  }

  .u-section-13 .u-image-2 {
    min-height: 300px;
  }

  .u-section-13 .u-layout-cell-3 {
    min-height: 300px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 1324px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-13 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 1024px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-layout-cell-3 {
    min-height: auto;
  }

  .u-section-13 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
} .u-section-14 {
  background-image: none;
}

.u-section-14 .u-sheet-1 {
  min-height: 788px;
}

.u-section-14 .u-layout-wrap-1 {
  width: 1140px;
  margin: 50px auto;
}

.u-section-14 .u-image-1 {
  background-image: url("images/14.jpg");
  background-position: 50% 50%;
  min-height: 506px;
}

.u-section-14 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-14 .u-layout-cell-2 {
  min-height: 200px;
}

.u-section-14 .u-container-layout-2 {
  padding: 30px 8px 30px 6px;
}

.u-section-14 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-14 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-14 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-14 .u-image-1 {
    min-height: 417px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 165px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-sheet-1 {
    min-height: 1324px;
  }

  .u-section-14 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-14 .u-image-1 {
    min-height: 661px;
  }

  .u-section-14 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 1024px;
  }

  .u-section-14 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-14 .u-image-1 {
    min-height: 496px;
  }

  .u-section-14 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-14 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-14 .u-image-1 {
    min-height: 312px;
  }
} .u-section-15 {
  background-image: none;
}

.u-section-15 .u-sheet-1 {
  min-height: 1063px;
}

.u-section-15 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.u-section-15 .u-image-1 {
  background-image: url("images/H.jpg");
  min-height: 534px;
  background-position: 50% 50%;
}

.u-section-15 .u-container-layout-1 {
  padding: 30px;
}

.u-section-15 .u-image-2 {
  background-image: url("images/F8.jpg");
  min-height: 429px;
  background-position: 50% 50%;
}

.u-section-15 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-15 .u-layout-cell-3 {
  min-height: 429px;
}

.u-section-15 .u-container-layout-3 {
  padding: 30px 8px 30px 6px;
}

.u-section-15 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-15 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-15 .u-image-1 {
    min-height: 440px;
  }

  .u-section-15 .u-image-2 {
    min-height: 354px;
  }

  .u-section-15 .u-layout-cell-3 {
    min-height: 354px;
  }
}

@media (max-width: 991px) {
  .u-section-15 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-15 .u-image-1 {
    min-height: 337px;
  }

  .u-section-15 .u-image-2 {
    min-height: 271px;
  }

  .u-section-15 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-15 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-sheet-1 {
    min-height: 1823px;
  }

  .u-section-15 .u-image-1 {
    min-height: 506px;
  }

  .u-section-15 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-15 .u-image-2 {
    min-height: 407px;
  }

  .u-section-15 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-15 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-sheet-1 {
    min-height: 1161px;
  }

  .u-section-15 .u-image-1 {
    min-height: 319px;
  }

  .u-section-15 .u-image-2 {
    min-height: 256px;
  }
} .u-section-16 {
  background-image: none;
}

.u-section-16 .u-sheet-1 {
  min-height: 272px;
}

.u-section-16 .u-layout-wrap-1 {
  width: 1140px;
  margin: 50px auto 40px;
}

.u-section-16 .u-layout-cell-1 {
  min-height: 200px;
}

.u-section-16 .u-container-layout-1 {
  padding: 30px 8px 30px 6px;
}

.u-section-16 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-16 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-16 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-16 .u-layout-cell-1 {
    min-height: 165px;
  }
}

@media (max-width: 991px) {
  .u-section-16 .u-sheet-1 {
    min-height: 1324px;
  }

  .u-section-16 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-16 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-16 .u-sheet-1 {
    min-height: 1024px;
  }

  .u-section-16 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-16 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-16 .u-layout-wrap-1 {
    width: 340px;
  }
} .u-section-17 {
  background-image: none;
}

.u-section-17 .u-sheet-1 {
  min-height: 475px;
}

.u-section-17 .u-gallery-1 {
  height: 375px;
  width: 1140px;
  margin: 66px 0 34px;
}

.u-section-17 .u-gallery-inner-1 {
  grid-template-columns: auto;
}

.u-section-17 .u-gallery-item-1 {
  margin-right: 0;
}

.u-section-17 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-17 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-17 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-17 .u-gallery-1 {
    width: 940px;
  }

  .u-section-17 .u-gallery-inner-1 {
    grid-gap: 0px 0px;
  }

  .u-section-17 .u-over-slide-1 {
    min-height: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-17 .u-gallery-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-17 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-17 .u-gallery-1 {
    width: 340px;
  }
}.u-section-18 .u-sheet-1 {
  min-height: 61px;
}

.u-section-18 .u-text-1 {
  margin: 20px 0 20px auto;
}